<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning_21_2_2</title>
</head>
<body>

	<h1>Welcome</h1>
	<hr>


	{% block heading %}
		<h2>No name</h2>
	{% endblock %}
	
	<h2>My Cars</h2>

	<ul>
		{% block cars %}
			<li>No cars</li>
		{% endblock %}
	</ul>

	<p>Check out the two templates to see what they look like, and view.py to see the reference to the childtemplate.</p>

</body>
</html>
