<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning_21_8_7</title>
</head>
<body>

	<ul>
		{% for x in cars %}
			<li>{{ x }}:
				<ul>
					{% for y in colors %}
						<li>
							{{ forloop.parentloop.counter }}
							{{ y }}
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>

	<p>Check out view.py to see what the cars and color object look like.</p>
</body>
</html>
