<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning_21_16_1</title>
</head>
<body>

	
	{% spaceless %}
  		<ul>
    			{% for x in fruits %}
      				<li>{{ x }}</li>
    			{% endfor %}
 		 </ul>
	{% endspaceless %}

	<p>Right-click the resualt and view the page source. The entire HTML code is written in one line.</p>

	<p>Check out view.py to see what the fruits variable looks like.</p>


</body>
</html>
