<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning_14_3</title>
</head>
<body>
	<ul>
		{% for x in members %}
			{% cycle 'lightblue' 'pink' 'yellow' 'coral' 'gray' as bgcolor %}
			<li style='background-color:{{ bgcolor }}'>
				{{ x.firstname }}
			</li>
		{% endfor %}
	</ul>
	<p>In views.py you can see how to import and fetch members from the database.</p>
</body>
</html>
